.button {
    background: rgb(58, 136, 197);
    border: none;
    color: white;
    margin: 10px 0px 10px 0px;
}


svg.svg-inline--fa.fa-link {
    margin-right: 9px;
    font-size: 13px;
    float: inline-start;
    margin-top: 9px;
}



.button-label {
    float: left;
}